<head>
    <title>Connected - {{ login }}</title>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.css') }}" type="text/css" />
</head>
<body>
<h1>Hello {{ login }}</h1>
<p> Password : {{ password }}</p>
</body>
